@model ShoppingCartModel.GiftCardBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="giftcard-box">
        <div class="title">
            <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
        </div>
        @*<div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>*@
        <div class="input-field col s12">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
            <label for="giftcardcouponcode">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</label>
            <button type="submit" id="applygiftcardcouponcode" name="applygiftcardcouponcode" value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="waves-effect waves-light btn">
                @T("ShoppingCart.GiftCardCouponCode.Button")
            </button>
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#giftcardcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applygiftcardcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}